.wrapper {
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-image: url('./images/dhl-1-logo-png-transparent.png');
    height: 20vh;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 1vw;
    width: 60vw;
    background-color: #FFCC00;
    padding: 1vw;
    -webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20vh;
    font-weight: 700;
    font-size: 1.5vw;
}

.account, a{ 
    text-decoration: none;
    color: black;
}

.title {
    font-weight: 700;
    font-size: 1vw;
}

.subTitle {
    font-weight: 700;
    font-size: 0.9vw;
}

.locDetails {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: space-evenly;
}

.login {
    padding-right: 1vw;
}

.building-opts {
    /* border-style: none; */
    padding: 1vh 2vw;
    font-weight: 700;
    font-size: 1vw;
}

.inputBar {
    padding: 1vh 2vw;
    text-align: end;
    font-size: 1vw;
}

.measure {
    padding: 1vh;
}

.locInput {
    padding: 1vh 2vw;
    width: 8vw;
    height: 2vh;
}

.measure {
    font-size: 1vw;
}

.buildBtns {
    display: flex;
    justify-content: center;
}

.btn {
    width: 20vw;
    height: 15vw;
    filter: drop-shadow(4px 2px 5px rgb(105, 105, 105));
    margin: 1vw;
    background-color: white;
    font-size: 2vw;
    font-weight: 700;
    color:  #D40511;
    border-style: none;
    transition: ease 500ms;
}

.btn:hover {
    transition: ease 500ms;
    box-shadow: inset 0 0 500px 0 #FFCC00;
    cursor: pointer;
}

.btn:focus {
    background-color: #FFCC00;
}

.row1, .row2 {
    display: flex;
    flex-direction: column;
}