.wrapper {
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-image: url('./images/dhl-1-logo-png-transparent.png');
    height: 20vh;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 1vw;
    width: 60vw;
    background-color: #FFCC00;
    padding: 1vw;
    -webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20vh;
    font-weight: 700;
    font-size: 1vw;
    flex-direction: row;
}

.account, a{ 
    text-decoration: none;
    color: black;
}

.title {
    font-weight: 700;
    font-size: 1vw;
}

.titleSec {
    text-align: center;
}

.subTitle {
    font-weight: 700;
    font-size: 0.9vw;
}

.locDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-evenly;
}

.login {
    padding-right: 1vw;
    transition: 500ms;
}

.login:hover {
    color: #D40511;
    transition: 500ms;
}

.building-opts {
    padding: 1vh 2vw;
    font-weight: 700;
    font-size: 1vw;
}

.inputBar {
    padding: 1vh 2vw;
    text-align: start;
    font-size: 1vw;
}

input:focus {
    outline: none;
}

.locInput {
    padding: 1vh 2vw;
    width: 8vw;
    height: 2vh;
}

.buildBtns {
    display: flex;
    justify-content: center;
}

.btn {
    width: 20vw;
    height: 15vw;
    filter: drop-shadow(4px 2px 5px rgb(105, 105, 105));
    margin: 1vw;
    background-color: white;
    font-size: 2vw;
    font-weight: 700;
    color:  #D40511;
    border-style: none;
    transition: ease 500ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transition: ease 500ms;
    box-shadow: inset 0 0 500px 0 #FFCC00;
    cursor: pointer;
}

.btn:focus {
    background-color: #FFCC00;
}

.row1, .row2 {
    display: flex;
    flex-direction: column;
}

.topHalf {
    display: flex;
    justify-content: center;
}

.bottomHalf {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.innerHalf {
    display: flex;
    flex-direction: column;
}

.innerHalf, input {
    margin-left: 2vw;
    margin-right: 2vw;
}

.innerHalf, p {
    margin-left: 2vw;
    margin-right: 2vw;
}

.altTitle {
    font-weight: 700;
    font-size: 1vw;
    display: flex;
    justify-content: flex-start;
}

.completeBtn {
    background-color: #65B32E;
    color: white;
    width: 8vw;
    height: 4vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-weight: 700;
    border-style: none;
    transition: 500ms;
    font-size: 1vw;
}

.completeBtn:hover {
    transition: 500ms ease-in-out;
    background-color: #487e22;
    cursor: pointer;
}

.btnResult {
    color: #D40511;
    font-size: 1vw;

}

.location, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optStyle {
    font-size: 1vw;
    height: 5vh;
    font-weight: 600;
}

.locDetails, .locInput {
    width: 15vw;
}

.locInput {
    font-size: 1vw;
    font-weight: 600;
}

@media (max-width: 500px) {
    .title {
        font-size: 6vw;
    }

    .buildBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .btn {
        width: 50vw;
        height: 25vh;
        font-size: 6vw;
    }

    .topHalf, .bottomHalf {
        flex-direction: column;
        align-items: center;
    }

    .altTitle {
        justify-content: center;
        font-size: 3vw;
    }

    .inputBar {
        width: 30vw;
    }

    .subTitle {
        font-size: 3vw;
    }
}